<div class="results-block">
  <%= render 'layouts/messages'%>
</div>
<% unless @users.nil? %>
  <div class="card card-header results-block mb-3">
    <table class="table table-borderless table-hover table-sm col-md-12">
      <tbody>
        <% @users.each do |user|%>
          <tr>
            <td>
              <strong>Name: </strong> <%= user.full_name%>
            </td>
            <td>
              <strong>Email: </strong> <%= user.email%>
            </td>
            <td>
              <strong>Actions: </strong> <%= link_to 'View Profile','#', class: 'btn btn-sm btn-success'%>
              <% if current_user.not_friends_with?(user.id) %>
                <%= link_to 'Follow friend?', friendships_path(friend: user), class: 'btn btn-xs btn-success', method: :post%>
              <% else %>
                <span class="badge badge-secondary">You are friends</span>
              <% end %>
            </td>
          <% end%>
      </tbody>
    </table>
  </div>
<% end%>
